{% extends "base.twig" %}
{% block main %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nombre</th>
			</tr>
		</thead>
		<tbody>
			{% for Tema in Temas %}
				<tr>
					<th>{{ Tema.getId_tema }}</th>
					<td>{{ Tema.getNombre_tema }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
