<!doctype html>
<html lang="es">
    <head>
        {% block header %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>{{ page.title }}</title>

            <!-- Bootstrap core CSS -->
            <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="res/css/style.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
            {% include 'navbar.twig' %}
        {% endblock %}
        <main role="main">
            {% block main %}
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-3">Hello, world!</h1>
                        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
                    </div>
                </div>
            {% endblock %}
        </main>
        <footer class="container">
            {% block footer %}
                {% include 'footer.twig' %}
            {% endblock %}
        </footer>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block script %}
            <script src="libs/jquery/jquery.min.js"></script>
            <script src="libs/bootstrap/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
